body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to bottom right, #ff9a9e, #fad0c4);
    text-align: center;
}

.container {
    margin-top: 50px;
}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#yes-btn {
    background-color: #ff4e73;
    color: white;
}

#no-btn {
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}
